html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}


.main{
    height: 100%;
    width: 100%; 
    
}

header{
    background-image: linear-gradient(#0a6847, #7aba78);
    color: #f3ca52;
    text-align: center;
    height: 8%;
    width: 100%;
    
}

header h1{
    margin: 0%;
    padding: 1%;    
}
/*Navigation styling*/
nav{
    background-color: #0a6847;
    height: 6%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
nav a{
    color: #f3ca52;
    height: 98%;
    margin: 0%;
    padding: 1%;
    text-decoration: none;
}
nav a:hover{
    background-color: #f6e9b2;
    color: #0a6847;
}

/*Container styling*/
.container{
    display: flex;
    width: 100%;
    height: 76%;
}

aside{
    background-color: #f6e9b2;
    width: 30%;
    height: 100%;  
    
}

.profile{
    height: 50%;
    
}

.img{
    text-align: center;
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.name{
    color: #0a6847;
    height: 100%;
    width: 50%;
    font-size: 180%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    
}
.name h1,p,h4{
    margin-top: 0%;
    margin-bottom: 0%;
    
}
.name h1,p{
    color: black;
}
.profile{
    display: flex;
    width: 100%;
    height: 40%;
}
.sidebar{
    width: 100%;
    height: 55%;
    margin-top: 5%;
    overflow-y: auto;
    
}
.sidebar a {
    margin: 4% 8%;
    padding: 2%;
    display: block;
    color: #f3ca52;
    font-weight: bold;
    background-color: #0a6847;
    text-decoration: none;
    text-align: center;
    width: 80%;
    
}
.sidebar a:hover{
    background-color: #084630;
    color: #f3ca52;
    cursor: pointer;

}
/* Content*/
.content{
    background-color: #ebf4f6;
    width: 60%;
    height: 100%;   
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    overflow-y: auto;
}

/* About CSS*/
.about h1{
    color: #dfb32e;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}
.box{
    margin: 0.5%;
    width: 30%;
    font-size: 120%;
}
.box h2{
    margin-top: 3%;
    color: #0a6847;
    text-align: center;
}
.box ul{
    
    padding-left: 35%;
}

/*Education CSS*/

.edcation{
    display: flex;
    flex-direction: column;
}

.education h1{
    padding-top: 0%;
    color: #dfb32e;
}

.education h3{
    color: #0a6847;
}

.edu{
    text-align: center;
}
.box{
    display: inline-block;
    text-align: left;
}

.acheive ul{
    text-align: justify;
}

/*project CSS*/

.project h2,h3,p{
    margin-top: 1%;
    margin-bottom: 0%;
}

.project h1,h3{
    color: #dfb32e;
}
.project h2{
    color: #0a6847;
}


footer {
    background-color: #0a6847;
    text-align: center;
    width: 100%;
    height: 10%;
    text-align: center;
    position:fixed;
    bottom: 0%;
}

footer p{
    color: #f3ca52;
    font-weight: bold;
    padding-top: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
