html{
    background-color: aqua;
    display: flex;
    
    height: 100%;
    width: 100%;
    
}

body{
    background-color: rgb(0, 13, 255);
    height: 100%;
    width: 100%;
    margin: 0%;
    
}

.main{
    background-color: brown;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

header{
    background-image: linear-gradient(#071952, #088395);
    color: #ebf4f6;
    text-align: center;
    height: 11%;
    width: 100%;
    
}

nav{
    background-color: #071952; 
    height: 7%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav a{
    color: #ebf4f6;
    height: 98%;
    padding: 1%;
    text-decoration: none; 
}
nav a:hover{
    background-color: #102771;
}

.container{
    background-color: red;
    display: flex;
    width: 100%;
    height: 75%;
}

aside{
    background-color: #088395;
    width: 30%;
    height: 100%;  
}

.img{
    text-align: center;
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.name{
    color: #ebf4f6;
    height: 100%;
    width: 50%;
    font-size: 180%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    
}
.name h1,p,h4{
    margin-top: 0%;
    margin-bottom: 0%;
    
}
.name h1,p{
    color:  #071952;
}
.profile{
    display: flex;
    width: 100%;
    height: 40%;
}


.sidebar{
    width: 100%;
    height: 55%;
    margin-top: 5%;
    
}


.sidebar a {
    margin: 4% 8%;
    padding: 2%;
    display: block;
    color: #ebf4f6;
    background-color: #071952;
    text-decoration: none;
    text-align: center;
    width: 80%;
   
}

.sidebar a:hover{
    background-color: #102771;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

/* Content*/
.content{
    background-color: #ebf4f6;
    width: 60%;
    height: 100%;   
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

/* About CSS*/
.about h1{
    color: #071952;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}
.box{
    border-color: black;
    border-width: 2px;
    margin: 0.5%;
    width: 30%;
    font-size: 120%;
}
.box h2{
    margin-top: 3%;
    color: #071952;
    text-align: center;
}
.box ul{
    color: black;
    padding-left: 35%;
}

/*Education CSS*/

.edcation{
    display: flex;
    flex-direction: column;
}

.box{
    display: inline-block;
}

/*project CSS*/

.project h2,h3,p{
    margin-top: 1%;
    margin-bottom: 0%;
}






 
footer {
    background-color: #071952;
    color: #ebf4f6;
    width: 100%;
    height: 7%;
    text-align: center;
    position: fixed;
    bottom: 0%;  
}

footer p{
    color: #ebf4f6;
    padding: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
}
